<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="perfil-container">
    <h1>Bienvenido a tu Perfil</h1>
    <ion-item>
      <ion-label>
        Nombre: Erick Santillan
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Edad: 22 años
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Correo Electrónico: erick@gmail.com
      </ion-label>
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="navigateToChat()">
      Ir al Chat
    </ion-button>
  </div>
</ion-content>
